---
layout: base-layout.njk

---
<script src="/js/allStudentAndMark.js"></script>
<h1 class="text-center">Entire Class Attendance</h1>
<hr>
<p class = "text-center">Attendace marks for each day within the given class, throughout the whole semester</p>
<p class = "text-center">Both stream A and B for each class are together so that, there is only class 1 or 2.</p>
<hr>
<p class="text-center">Key: Present = Green | Absent = Red | Explained = Yellow | Sick = Blue | Late = Orange</p>
        
        <hr>
<div class = "col1" style = "float: left; width: 100%;">
    <table id = "markRollTable" class = "text-center">
        <tbody class = "text-center">
            <tr class = "text-center">
                <td>Name:</td>
                <td>Student ID:</td>
                <td id="week" colspan="2">Week 1:</td>
                <td id="week" colspan="2">Week 2:</td>
                <td id="week" colspan="2">Week 3:</td>
                <td id="week" colspan="2">Week 4:</td>
                <td id="week" colspan="2">Week 5:</td>
                <td id="week" colspan="2">Week 6:</td>
            </tr> 
            <tr>
                <td></td>
                <td></td>
                <td >Class 1:</td>
                <td>Class 2:</td>
                <td>Class 1:</td>
                <td>Class 2:</td>
                <td>Class 1:</td>
                <td>Class 2:</td> 
                <td>Class 1:</td>
                <td>Class 2:</td>
                <td>Class 1:</td>
                <td>Class 2:</td>
                <td>Class 1:</td>
                <td>Class 2:</td
            </tr>
        </tbody>
    </table>  
    
</div>      
{# <div class = "col2"  style = "float: right; width: 20%;">
    <h4 class ="text-center" >Personal Information</h4>
    <p class ="text-center" id="first">First Name:</p>
    <p class ="text-center" id="last">Last Name:</p>
    <p class ="text-center" id="ethnicity">Ethnicity:</p>
    <p class ="text-center" id="age">Age:</p>
    <p class ="text-center">Address:</p>
    <p class ="text-center">Email:</p>
    <p class ="text-center">Student ID:</p>
    <p class ="text-center">Phone:</p>
    <p class ="text-center">Enrolment Status:</p>
    <p class ="text-center">Enroled since:</p>
    
</div> #}