---
layout: base-layout.njk

---
<div class="content">
    <h1 class ="text-center">DashBoard: Teacher 1</h1>
    <hr>
    <div class="row">
        <div class="col-md-4 col1index" id="col1index" style=" ">
            <div class="col-md-12">
                <h4 class="text-center">Your Classes:</h4>
                <ul class = "text-center" id = "list">
                    <li class="list" value = "IN790"><a class="" href="/takeAttendance"><button type="button" class="btn btn-primary" onclick="IN790()">IN790</button></a></li>
                    <li class="list" value = "IN700"><a class="" href="/takeAttendance"><button type="button" class="btn btn-primary" onclick="IN700()">IN700</button></a></li>
                    <li class="list" value = "IN750"><a class="" href="/takeAttendance"><button type="button" class="btn btn-primary" onclick="IN750()">IN750</button></a></li>
                    <li class="list" value = "IN760"><a class="" href="/takeAttendance"><button type="button" class="btn btn-primary" onclick="IN760()">IN760</button></a></li>

                <ul>
            </div>
        </div>
        <div class="col-md-4 col2index" id="col2index">
            <div class="col-md-12">
                <h4 class="text-center">Important/Urgent Notifications</h4> 
                <ul>
                    <li>Student 14 has an attendace below 15%</li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col3index" id="col3index">
            <div class="col-md-12">
                <h4 class="text-center">General</h4> 
                <ul>
                    <li> PolyTech closed on firday for Labour Day.</li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div>
