---
layout: base-layout.njk

---
<script src="/js/indivdualStudent.js"></script>
<h1 class="text-center">Indivual Student Attendance</h1>
<hr>

<h2 class="text-center" id="Name">Student Name: </h2>
<hr>
<div id="selectStudent" >
    <label class="text-center" for="student">Choose Student:</label>
    <select class="text-center" id="student" ></select>
    <button id="" type="button" class="btn btn-success" onclick="change()" >Update Student</button>
</div>
<table id = "tabel" class = "text-center">
    <tbody class = "text-center">
        <tr class = "text-center">
            <td>Class Of The Week:</td>
            <td>Stream:</td>
            <td>Class 1: IN790</td>
            <td>Class 2: IN700</td>
            <td>Class 3: IN760</td>
            <td>Class 4: IN750</td>
            
        </tr> 
        <tr>
            <td rowspan="2">1:</td>
            <td>A:</td>
            <td id="1A"></td>
            <td id="2A"></td>
            <td id="3A"></td>
            <td id="4A"></td>   
        </tr>
        <tr>
            <td>B:</td>
            <td id="1B"></td>
            <td id="2B"></td>
            <td id="3B"></td>
            <td id="4B"></td>
        </tr>
        <tr>
            <td rowspan="2">2:</td>
            <td>A:</td>
            <td id="1A"></td>
            <td id="2A"></td>
            <td id="3A"></td>
            <td id="4A"></td>   
        </tr>
        <tr>
            <td>B:</td>
            <td id="1B"></td>
            <td id="2B"></td>
            <td id="3B"></td>
            <td id="4B"></td>
        </tr>
        <tr>
            <td rowspan="2">3:</td>
            <td>A:</td>
            <td id="1A"></td>
            <td id="2A"></td>
            <td id="3A"></td>
            <td id="4A"></td>   
        </tr>
        <tr>
            <td>B:</td>
            <td id="1B"></td>
            <td id="2B"></td>
            <td id="3B"></td>
            <td id="4B"></td>
        </tr>
        
    </tbody>
</table>